<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDB" providerName="System.Data.ProviderName" connectionString="my Connection String"/>
  </connectionStrings>
  <appSettings>
    <add key="WriteMessageTo" value="Console"/>
  </appSettings>
</configuration>